toto je view pre cloveka, ktory niekam cestuje

#map
#distance

- content_for :js_data do
    = javascript_include_tag "https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=false&libraries=places"
    = javascript_include_tag "tracking"
