//= require twitter/bootstrap

@import "tracking";
@import "location";


body {
  font-family: 'Raleway', sans-serif;
  background-color: #f8f8f8;
  color: #333;
}

.header {
  
}

h1 {
  font-family: 'Raleway', sans-serif;
  font-weight: 400;
  text-align: center;
  margin: 1em;
}

/*for testing purpose only*/
.row {
  /*border-bottom: thin solid #666;*/
}
/*end*/

.route-create {
  margin: 1em 0;
}
.route-create input {
  border-radius: 0;
  border-top-width: 0;
  text-align: center;
}
.route-create input:first-child {
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
  border-top-width: 1px;
}
input.last-input {
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
}

button {
  margin-top: 2em;
}

.footer {
  text-align: center;
  margin-top: 2em;
}
.glyphicon {
  font-size: 2em;
}
@-webkit-keyframes rotate {
  from {
    -webkit-transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
  }
}
.animate
  {
  -webkit-animation-name:             rotate;
  -webkit-animation-duration:         2s;
  -webkit-animation-iteration-count:  infinite;
  -webkit-animation-timing-function: linear;
}

.remaining {
  margin: 2em 0;
}
.percentage {
  position: relative;
  text-align: center;
  top: -25px;
  color: white;
  font-weight: bold;
}
.progress {
  height: 30px;
}

#map_canvas {
  width: 100%;
  height: 300px;
}
#map {
    height: 0;
    width: 0;
}

.transport-icon {
    background-image: url('traffic_icons.png');
    background-repeat: no-repeat;
    width: 20px;
    height: 20px;
    display: block;
    margin: 0 auto;
}
.transport {
    margin: 0;
    padding: 0;
    width: 100%;
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;    
    /*border-right: thin solid #ADADAD;*/
}
.transport button.btn:first-child {
    border-bottom-left-radius: 6px;
}
.transport button.btn:last-child:not(:first-child) {
    border-bottom-right-radius: 6px;
}
.transport button.btn {
    margin: 0;
    border-radius: 0;
    width: 25%;
    margin: 0 auto;
    padding: 12.5px 0;
}
.transport button.btn + .btn {
    border-left-width: 0;
    margin-left: 0px;
}
.car { background-position: 0 -40px; } 
.btn:hover .car { background-position: 0 -60px; }
.bus { background-position: 0 -80px; } 
.btn:hover .bus { background-position: 0 -100px; }
.walk { background-position: 0 -120px; } 
.btn:hover .walk { background-position: 0 -140px; }
.bike { background-position: 0 -160px; } 
.btn:hover .bike { background-position: 0 -180px; }
input.last-input {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    border-bottom-width: 0;
}
a[href="/trackings/cancel_route/"] { text-decoration: none;}
h3 { font-family: 'Raleway', sans-serif; margin: .25em 0; }

.mother-info { padding-top: 3em;}