%ul.nav.navbar-nav.navbar-right
  - if signed_in?
    %li
      %a{href: '/ponuka/new'} Pridaj inzer치t
    %li
      %a{href: '/ponuka/manage'} Spravuj svoje inzer치ty
    %li
      %a{href: signout_path, id: 'sign_out'} Odhl치s sa
    -if current_user.email=="jendek.tomas@gmail.com" ||  current_user.email=="varkreker@gmail.com"
      %li
        %a{href: profiles_path} Admin


  - else
    %li
      %a{href: '/auth/facebook', id: 'sign_in'} Prihl치s sa cez Facebook



