.container
  .row
    .col-md-8.col-md-offset-2
      %h1 When Do U Come?

      %form.route-create#trackings-form{method: "get", role: "form"}
        %input.form-control.input-lg{id: "b-position", name: "b-position", placeholder: "Where are you going?", required: "", type: "text"}/
        %input.form-control.input-lg{id: "tracker-id", name: "tracker-id", placeholder: "Whats your name?", required: "", type: "text"}/
        %input.form-control.input-lg.last-input{id: "mom_email", name: "mom_email", placeholder: "Recipients email?", required: "", type: "email"}/

        %button.btn.btn-primary.btn-block.btn-lg{type: "submit", id: "create-route"} Submit

- if @initialPosition
  = @initialPosition.inspect

#map

- content_for :js_data do
  = javascript_include_tag "https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=false&libraries=places"
  = javascript_include_tag "trackings"
