.tracking-reload.container
  .col-md-8.col-md-offset-2
    %h1 When Do U Come?
    %p.text-center
      %span.glyphicon.glyphicon-refresh.animate
    %p.text-center
      Updating Data.
      = succeed "Do" do
        %br/

    .remaining
      %p.text-center
        %strong distance remaining
      .progress
        .progress-bar.progress-bar-success{style: "width: 35%"}
          %span.sr-only 35% Complete (success)
        .progress-bar.progress-bar-danger{style: "width: 65%"}
          %span.sr-only 20% Complete (warning)
        .percentage 65%

    .remaining
      %p.text-center
        %strong time remaining
      .progress
        .progress-bar.progress-bar-success{style: "width: 50%"}
          %span.sr-only 50% Complete (success)
        .progress-bar.progress-bar-danger{style: "width: 50%"}
          %span.sr-only 50% Complete (warning)
        .percentage 50%
      %button.btn.btn-danger.btn-block.btn-lg{type: "submit"} Cancel Route


#map
- content_for :js_data do
  %div{id: "js-data",
        data: { bLat: @position.b_poi_lat,
          bLng: @position.b_poi_lng,
          id: @position.id}}

- content_for :js_data do
  = javascript_include_tag "https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=false&libraries=places"
  = javascript_include_tag "trackings"

